body {
    background-color: #434a54;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
  }
  
  li {
    float: left;
    padding: 16px;
  }
.info {
    float: right;
    padding-top: 30px;
}
  
li a:hover {
    background-color: #111111;
}

.logo {
    font-weight: bold;
    font-size: 50px;
    color: #f6bb42;
}